
<mat-card>
    <mat-card-content>
        <form [formGroup]="profileForm" class="grid sm:grid-cols-2 grid-cols-1 gap-9 p-10 justify-center items-center">
           <div class="flex justify-center items-center min-w-min">
            <mat-form-field class="w-full max-w-md">
                <mat-label>First Name</mat-label>
                <input matInput required formControlName="firstName">
                <mat-error *ngIf="profileForm.invalid">First Name cannot be empty.</mat-error>
            </mat-form-field>
           </div>
           
           <div class="flex justify-center items-center min-w-min">
            <mat-form-field class="w-full max-w-md">
                <mat-label>Last Name</mat-label>
                <input matInput required formControlName="lastName">
                <mat-error *ngIf="profileForm.invalid">Last Name cannot be empty.</mat-error>
            </mat-form-field>
           </div>  
           <div class="flex justify-center items-center min-w-min">
            <mat-form-field class="w-full max-w-md">
                <mat-label>Profession</mat-label>
                <input matInput required formControlName="profession">
                <mat-error *ngIf="profileForm.invalid">Profession cannot be empty.</mat-error>
            </mat-form-field>
           </div>
           <div class="flex justify-center items-center min-w-min">
            <mat-form-field class="w-full max-w-md">
                <mat-label>Email</mat-label>
                <input matInput required formControlName="email">
                <mat-error *ngIf="profileForm.invalid">Email cannot be empty.</mat-error>

            </mat-form-field>
           </div>  
           <div class="flex justify-center items-center min-w-min">
            <mat-form-field class="w-full max-w-md">
                <mat-label>Country</mat-label>
                <input matInput required formControlName="country">
                <mat-error *ngIf="profileForm.invalid">Country cannot be empty.</mat-error>
            </mat-form-field>
           </div>
           <div class="flex justify-center items-center min-w-min">
            <mat-form-field class="w-full max-w-md">
                <mat-label>City</mat-label>
                <input matInput required formControlName="city">
                <mat-error *ngIf="profileForm.invalid">City cannot be empty.</mat-error>
            </mat-form-field>
           </div>
           <div class="flex justify-center items-center min-w-min">
            <mat-form-field class="w-full max-w-md">
                <mat-label>Pincode</mat-label>
                <input matInput required formControlName="pincode">
                <mat-error *ngIf="profileForm.invalid">Pin Code cannot be empty.</mat-error>
            </mat-form-field>
           </div> 
           <div class="flex justify-center items-center min-w-min">
            <mat-form-field class="w-full max-w-md">
                <mat-label>Mobile Number</mat-label>
                <input matInput required formControlName="mobileNumber">
                <mat-error *ngIf="profileForm.invalid">Mobile Number cannot be empty.</mat-error>
            </mat-form-field>
           </div>   
        </form>
        <div class="flex justify-center items-center">
              <button mat-button matStepperNext (click)="nextAction()">Next</button>
        </div>
    </mat-card-content>
</mat-card>            
